@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", -apple-system,
    BlinkMacSystemFont, "Basier Square", "Apple SD Gothic Neo", Roboto,
    "Noto Sans KR", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  @screen sm {
    font-size: 18px;
  }

  word-break: keep-all;
}
