@layer base {
  .post-content > *:not(:last-child) {
    @apply mb-6;
  }

  .post-content {
    & > blockquote {
      @apply text-xl;
      @apply italic;
      @apply font-bold;
      @apply max-w-3xl;
      @apply mx-auto;
      @apply mb-16;
      @apply text-gray-600;
      @apply relative;

      @screen md {
        @apply px-12;
      }

      &::before {
        content: "";
        @apply absolute;
        @apply -left-4;
        @apply h-full;
        @apply w-1.5;
        @apply bg-gradient-to-b;
        @apply from-green-500;
        @apply via-green-400;
        @apply to-green-500;

        @apply rounded-sm;

        @screen md {
          @apply left-0;
          @apply w-2;
        }
      }
    }

    & > p,
    & > ul,
    & > ol,
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
      @apply max-w-2xl;
      @apply mx-auto;
    }

    & > pre {
      @apply max-w-3xl;
      @apply -mx-4;

      @screen md {
        @apply mx-auto;
      }
    }

    & > p {
      @apply text-base;
    }

    & a:not(.before) {
      @apply focus:ring;
      @apply focus:ring-yellow-500;

      @apply break-words;

      @apply text-blue-600;
      @apply font-bold;
      @apply hover:shadow-link;
      @apply transition-shadow;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      @apply font-bold;
    }

    & h1 {
      @apply mt-24;
      @apply text-4xl;
    }

    & h2 {
      @apply mt-16;
      @apply text-2xl;
    }

    & h3 {
      @apply mt-12;
      @apply text-xl;
    }

    & h4 {
      @apply mt-8;
      @apply text-lg;
    }

    & h5 {
      @apply mt-4;
      @apply text-base;
    }

    & h6 {
      @apply text-sm;
    }

    & .anchor.before {
      @apply h-full;
      @apply flex;
      @apply items-center;
      @apply pr-4;

      & > svg {
        @apply w-6;
        @apply h-6;
      }
    }

    & code:not(pre code) {
      @apply rounded;
      @apply bg-gray-100;
      @apply text-green-600;
      @apply font-bold;
      @apply border;
      @apply border-gray-300;
      @apply px-1;
      font-size: 0.9em;
    }

    & ul li,
    & ol li {
      @apply relative;
      @apply pl-4;

      &::before {
        @apply absolute;
        @apply left-0;
        @apply w-1;
        @apply text-center;
      }
    }

    & li:not(:last-of-type) {
      @apply mb-2;
    }

    & ul li::before {
      content: "•";
    }

    & ol {
      counter-reset: ol-counter;

      & li {
        counter-increment: ol-counter;
        @apply pl-6;

        &::before {
          content: counter(ol-counter) ". ";
        }
      }
    }
  }
}
